@import "../../style.import.scss";

.cart {
    display: flex;
    justify-content: space-between;

    button {
        background-color: $main-color;
        text-transform: uppercase;
        color: white;
        border-radius: $main-border;
        line-height: normal;

        cursor: pointer;

        padding: 7px;

        transition: 250ms all;
    }

    &__popup {
        position: absolute;
        top: -100%;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: white;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        transition: 250ms all;

        &:last-child{
            justify-content: center;

            h1{
                margin: 0;
            }

            h2{
                text-decoration: underline;

                margin: 10px 0;
            }

            button{
                margin-top: 10px;
            }
        }

        &_active {
            top: 0;
        }

        div {
            position: relative;
        }

        input {
            width: 100%;
            padding: 10px;

            font-size: 18px;
            border: 1px dashed $main-color;
            border-radius: $main-border;

            outline: none;
        }

        button {
            width: max-content;
            display: flex;

            font-size: 19px;
        }
    }

    &-popup {
        &__input {
            width: 75%;
            margin-bottom: 7px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 7px;
        }

        &__button_close {
            position: absolute;
            top: 0;
            right: 0;

            img {
                width: 35px;
            }
        }
    }

    &__column {
        position: relative;

        &:nth-child(1) {
            width: 79%;
            height: 665px;
            padding: 5px;

            overflow-y: scroll;

            border: 1px dashed $main-color;
            border-radius: $main-border;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &:nth-child(2) {
            width: 20%;
            padding: 5px;

            h3 {
                font-size: 18px;

                margin-bottom: 5px;

                span {
                    text-decoration: underline;
                }
            }
        }
    }

    &-no-items {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 23px;
        }

        a {
            font-size: 18px;
            color: $main-color;
        }
    }
}